* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #f7b733, #fc4a1a);
  color: #fff;
}

h1 {
  font-size: 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
}
