* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #fdeff9, #ec38bc, #7303c0, #03001e);
  color: #fff;
}

h1 {
  font-size: 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
}
