* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #ff0099;
  background: -webkit-linear-gradient(to right, #493240, #ff0099);
  background: linear-gradient(to right, #493240, #ff0099);
  color: #fff;
}

h1 {
  font-size: 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
}
