* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: #fff;
}

h1 {
  font-size: 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
}
